*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}
.container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap:  50px;
    padding-top: 40px;
    margin: auto;
}
.sidebar{
    height: 90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    position: sticky;
    top: 20px;
}
.mainbar{
    
    padding: 10px 30px;
    padding-right: 10px;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
}
.profile{
    text-align: center;
}
.profile img{
    text-align: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
    
    white-space: nowrap;
}
.profile h2{
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
    
}
.profile p{
    color: orange;
    background-color: black;
    border-radius: 5px;
    padding: 5px 15px;
    display: inline;
    white-space: nowrap;
    margin-top: 10px;
        background-color: rgb(30, 30, 30);
    color: rgb(255, 191, 0);
}
.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 30px;
    padding-left: 20px;
}
.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}
.value{
    color: #e0e0e0;
    text-decoration: none;
}
.social{
    padding-top: 10px;
    margin-top: 30px;
    border-top: 70px;
    border-top: 2px solid #3a3a3a;
    padding-left: 10px;
    text-align:center;
    gap: 7px;
}
.icons{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7472%) hue-rotate(100deg) brightness(111%) contrast(100%);
    height: 20px;
    width: 20px;
    transition: filter 0.3s ease;
}
.icons:hover{
    filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(0%) hue-rotate(81deg) brightness(97%) contrast(104%);
}
#navigation{
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
}

nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
}

.active, nav a:hover{
    color: #FFBF00;
}
#about h2{
    
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 1
}
.line{
    background-color: #FFBF00;
    height: 3px;
    width: 40px;
    margin-bottom: 10px;
}
#about p{
    align-content: justify;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
#skills h2{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 1
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) ;
    gap: 40px;
}
.item{
    background-color: rgb(30, 30, 30);
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    margin-top: 20px;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
.item img{
    height: 48px;
   
    width: 48px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
}
.item h3{
    color: #e0e0e0;
    font-size: 1rem;
    font-weight: 600;
}
.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}
#education{
    margin-top: 30px;
}
#education h3{
    color: #e0e0e0;
    font-size: 2rem;
    font-weight: 600;
}

.degree {
    color: rgb(224, 224, 224);
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.year{
    font-size: 0.9rem;
    color: rgb(160, 160, 160);
    margin-bottom: 5px;

}
.ed1, .ed2{
    padding-left: 20px;
    position: relative;
}
.college {
    font-style: italic;
    color: rgb(160, 160, 160);
    margin-bottom: 10px;
}
.work{
    color: rgb(160, 160, 160);
}
.circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #FFBF00;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 5;
}

.liner{
    width: 2px;
    left: 5px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    border: 2px solid #3a3a3a;
}
#portfolio h3{
    font-size: 2rem;
    color: #e0e0e0;
    font-size: 2rem;
    font-weight: 600;
}
.portfolio-con{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.card{
    padding: 20px;
}
.project{
    margin-top: 30px;
    background-color: rgb(30, 30, 30);
    border-radius: 12px;
    transition: transform 0.7s ease,box-shadow 0.7s ease;
    border: 2px solid #3a3a3a;
}
.card span{
    color: rgb(255, 191, 0);
    font-size: 0.8rem;
    padding: 4px 8px;
    border-radius: 5px;
    background-color: rgba(255, 191, 0, 0.1);
    overflow: hidden;
}
.project img{
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 180px;
    width: 100%;
}
.project:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}
@media screen and (max-width: 1200px){
    .container{
        grid-template-columns: 1fr;

    }
    .sidebar{
        position: static;
        height: auto;
    }
}
@media screen and (max-width:750px) {
    .project-container{
        grid-template-columns: 1fr;
    }

    #navigation nav {
        /* Adjust nav for smaller screens */
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}